* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Arial;
}

body {
  margin: 0;
  background: #f4f6fb;
  direction: rtl;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: white;
  box-shadow: 0 2px 10px rgba(63, 63, 63, 0.05);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.menu a {
  margin-right: 15px;
  text-decoration: none;
  color: #555;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #dddbff,#f9ecff, #ffd7fd);
  color: rgb(0, 0, 0);
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
  margin: 15px 0 30px;
}

.btn-main {
  background: white;
  color: #4a6cf7;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* Features */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 40px 20px;
}

.feature {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* Card pages */
.card {
  max-width: 420px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.07);
}

.note {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.back {
  display: block;
  margin-top: 20px;
  color: #4a6cf7;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 15px;
  color: #777;
}

.screenshots {
  padding: 20px 10px;
  text-align: center;
}

.screenshots h2 {
  margin-bottom: 20px;
  color: #333;
}

.screenshots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  max-width: 500px;
  margin: auto;
}

.screenshots-grid img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
  transition: transform 0.3s ease;
}

.screenshots-grid img:hover {
  transform: scale(1.05);

}
.app-icon {
  width: 200px;
  height: auto;
}



